.cart-button {
    list-style-type: none;

    .cart-button-link {
        background: #fff;
        color: #333;
        position: relative;
        width: 50px;
        height: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px dashed #333;
        transition: .25s all;

        &:hover {
            background: #de6724;
            color: #fff;
            transition: .25s all;
        }

        .cart-count-count {
            position: absolute;
            bottom: 5px;
            right: 5px;
            background: brown;
            color: #fff;
            width: 22px;
            height: 22px;
            display: flex;
            justify-content: center;
            font-size: 15px;
            padding: 1px;
            border-radius: 20px;
        }
    }

    .cart-button-link.active {
        background: #ccc;
        color: #333;
        position: relative;
        width: 50px;
        height: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px dashed #333;
        transition: .25s all;

        &:hover {
            background: #de6724;
            color: #fff;
            transition: .25s all;
        }
    }
}