.shop {
    width: 100%;
    height: 100%;

    .shop-search {
        background: transparent;
        width: 100%;
        height: 45px;
        text-align: center;
        display: flex;
        justify-content: center;
        border-bottom: 1px dashed #333;

        .shop-btn-search {
            background: brown;
            color: #fff;
            border: none;
            padding: 5px 10px 6px 10px;
            border-right: 1px dashed #333;
            border-left: 1px dashed #333;
            transition: .15s all;

            &:hover {
                background: #fff;
                color: brown;
                transition: .15s all;
            }
        }

        .shop-input-search {
            background: #ddd;
            color: #333;
            width: 100%;
            height: 44px;
            font-size: 13px;
            padding: 8px;
            outline: none;
            border: none;

            &:focus {
                background: #fff;
                outline: none;
                box-shadow: none;
            }
        }
    }

    .shop-shop-list {
        overflow: auto;
    }
}