.button-select {

    .button-select-group {
        display: flex;
        align-items: center;
        margin-top: 2px;

        .button-select-icon {
            background: #555;
            color: #e5e5e5;
            width: 40px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: 900;
        }

        .button-select-select {
            border: 1px solid #555;
        }
    }   
}